/*
Posicionamiento CSS

  La propiedades FLOAT y POSITION nos permiten modificar la posici贸n natural de cualquier elemento del documento HTML.


  

  El navegador coloca cada elemento teniendo en cuenta el orden en el que aparece en el documento y su tipo de visualizaci贸n dependiendo si es un elemento de l铆nea o de bloque.

  Con FLOAT y POSITION podemos modificar este comportamiento.

    imagina una fila para el banco, y uno empieza a flotar con un globo de helio. 

  Elementos Flotantes
    - float: Convierte un elemento en flotante desplaz谩ndolo hasta la zona m谩s a la izquierda o m谩s a la derecha de la posici贸n en la que originalmente se encontraba.
    - clear: Limpia la flotaci贸n (left, right, both)

  Tipos de Posicionamiento:
    - static (default)
    - relative
    - absolute
    - fixed
    - sticky

  Para mover los elementos posicionados se activan las propiedades:
    - top (vertical - eje Y)
    - bottom (vertical - eje Y)
    - left (horizontal - eje X)
    - right (horizontal - eje X)
    - z-index (profundidad - eje Z)

  Las propiedades top y left van a tener preferencia por sobre bottom y right respectivamente.

  Est谩s 5 propiedades no funcionan con el valor de static.
*/


/* static: Es el valor por defecto, significa que el elemento respeta el flujo del documento HTML, por lo que no se puede mover ni posicionar */


.static{
    background-color: yellow;
    position: static;/*es  el valor po defecto*/
    top: 10px;
    left: 10px;
}

/* relative: El elemento conserva sus dimensiones y posici贸n original(orden de llegada) en el
flujo del documento. Si se mueve toma como referencia su posici贸n original */

.relative {
    background-color: turquoise;
    position: relative;
    width: 300px;
    height: 50px;
    /*  top: 50px;
    left: 50px; */
    bottom: 50px;
    right: 50px;
    top: -30px;
    left: -10px;
    top: 300px; /*tiene preferencia sobre botton y right*/
    left: 50px; /*tiene preferencia sobre botton y right*/
  }
