


/*
    es muy utilizado el sistema de 12 columnas
    por que tiene muchas diviciones que podriamos tener de elementos 
    que ocupen el mismo espacio a 12 columnas

    12 / 1= 12  elmento al 100%
    12 / 2= 6  elmento al 50%
    12 / 3= 4
    12 / 4= 3
    12 / 6=  2
    12 / 12= 1

    La clave es que la sumatoria de todo los elementos que quieras que esten
    en una misma fila de contenido pues tiene que dar como resultado 12, por que
    si te pasas el elemento pasa a la fila de abajo


    5 + 7 = 12
    2 + 5 + 5 = 12
    4 + 2 + 3 + 3 = 12

    12 -------> 100%
    ?col -----> ???%

    GRID SYSTEM ARTESANAL CON FLEXBOX A 12 COLUMNAS

    Tamaños (Mediaqueries)
  xs    -   extrasmall      - 0                 -  479px        -480res
  sm    -   small           - 480px (30em)      -  767px        -800res
  md    -   medium          - 768px (48em)      -  991px        -1024res
  lg    -   large           - 992px (62em)      -  1199px       -1280res
  xl    -   extralarge      -+1200px (75em)                     ->1281res

*/

html{
    box-sizing: border-box; /*si tu das espaciados y bordes ya estén incluidos dentro del modelo de caja*/
    font-size: 16px;   
}

*,
*::after, 
*::before{
    box-sizing: inherit;
}

.row{
    display: flex; /*flexbox es unidimencional*/
    flex-wrap: wrap;
}

/*si quieres ver el acomodo de las filas y columnas*/
.row > [class^="col"] { /*aplica estilos a los elementos que emepiezen con la palabra COL*/
 border: thin solid gray;
 padding: 1rem;
}

/*cuando estes maquetando  no necesitarias poner esta grid*/

/*defino sistema de columnas con cierto ancho*/

/*grid responsiva mobile first
 Los estilos antes de las media querys estan pensadas para el mobil
*/
.col-1{
width: 8.333333333333333%;
}

.col-2{
    width: 16.6666667%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33333333%;
}

.col-5{
    width: 41.66666667%;
}

.col-6{
    width: 50%;
}

.col-7{
    width:58.33333333%;
}

.col-8{
    width: 66.66666667%;
}

.col-9{
    width:75%;
}

.col-10{
    width: 83.33333333%;
}

.col-11{
    width: 91.66666667%;
}

.col-12{
    width: 100%;
}

/*lo siguiente a determinar es nuestro grid sistem establecer
el tamaño de las media querys*/

/*Aca abajo debemos crear nuestras media queris, como vamos a hacer una grid mobileFirst
    las media querys tienen que ir de la menor a la mayor
*/

@media screen and (min-width: 30em){ /*hay una separacion entre AND's*/
        .col-sm-1{
            width: 8.333333333333333%;
        }
        
        .col-sm-2{
            width: 16.6666667%;
        }
        
        .col-sm-3{
            width: 25%;
        }
        
        .col-sm-4{
            width: 33.33333333%;
        }
        
        .col-sm-5{
            width: 41.66666667%;
        }
        
        .col-sm-6{
            width: 50%;
        }
        
        .col-sm-7{
            width:58.33333333%;
        }
        
        .col-sm-8{
            width: 66.66666667%;
        }
        
        .col-sm-9{
            width:75%;
        }
        
        .col-sm-10{
            width: 83.33333333%;
        }
        
        .col-sm-11{
            width: 91.66666667%;
        }
        
        .col-sm-12{
            width: 100%;
        }
  }

@media screen and (min-width: 48em) {
    .col-md-1 {
      width: 8.333333333333333%;
    }
  
    .col-md-2 {
      width: 16.66666666666667%;
    }
  
    .col-md-3 {
      width: 25%;
    }
  
    .col-md-4 {
      width: 33.33333333333333%;
    }
  
    .col-md-5 {
      width: 41.66666666666667%;
    }
  
    .col-md-6 {
      width: 50%;
    }
  
    .col-md-7 {
      width: 58.33333333333333%;
    }
  
    .col-md-8 {
      width: 66.66666666666667%;
    }
  
    .col-md-9 {
      width: 75%;
    }
  
    .col-md-10 {
      width: 83.33333333333333%;
    }
  
    .col-md-11 {
      width: 91.66666666666667%;
    }
  
    .col-md-12 {
      width: 100%;
    }
  }
  
@media screen and (min-width: 62em) {
    .col-lg-1 {
      width: 8.333333333333333%;
    }
  
    .col-lg-2 {
      width: 16.66666666666667%;
    }
  
    .col-lg-3 {
      width: 25%;
    }
  
    .col-lg-4 {
      width: 33.33333333333333%;
    }
  
    .col-lg-5 {
      width: 41.66666666666667%;
    }
  
    .col-lg-6 {
      width: 50%;
    }
  
    .col-lg-7 {
      width: 58.33333333333333%;
    }
  
    .col-lg-8 {
      width: 66.66666666666667%;
    }
  
    .col-lg-9 {
      width: 75%;
    }
  
    .col-lg-10 {
      width: 83.33333333333333%;
    }
  
    .col-lg-11 {
      width: 91.66666666666667%;
    }
  
    .col-lg-12 {
      width: 100%;
    }
  }
  
@media screen and (min-width: 75em) {
    .col-xl-1 {
      width: 8.333333333333333%;
    }
  
    .col-xl-2 {
      width: 16.66666666666667%;
    }
  
    .col-xl-3 {
      width: 25%;
    }
  
    .col-xl-4 {
      width: 33.33333333333333%;
    }
  
    .col-xl-5 {
      width: 41.66666666666667%;
    }
  
    .col-xl-6 {
      width: 50%;
    }
  
    .col-xl-7 {
      width: 58.33333333333333%;
    }
  
    .col-xl-8 {
      width: 66.66666666666667%;
    }
  
    .col-xl-9 {
      width: 75%;
    }
  
    .col-xl-10 {
      width: 83.33333333333333%;
    }
  
    .col-xl-11 {
      width: 91.66666666666667%;
    }
  
    .col-xl-12 {
      width: 100%;
    }
  }